   <h2>VMの作成</h2>
    <%= form_tag('/create_vm', :method => :post) do %>
      <input placeholder="name" type="string" name="vmname">
      <input placeholder="cpu" type="integer" name="cpu">
      <input placeholder="ram" type="integer" name="ram">
      <input type="submit" value="SENT">
    <% end %>

